.draggable {
  width: 2rem;
  height: 2rem;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.droppable {
  width: 2rem;
  height: 2rem;
  border-style: dashed;
  border-color: 'blue';
}